* {
  box-sizing: border-box;
  margin: 0;
}
body {
  background-color: aliceblue;
  margin-top: 90px;
  background-image: url(./bachground.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 750px;
}
.box-container {
  display: flex;
  justify-content: space-between;
  padding-left: 10%;
  padding-right: 10%;
  gap: 3%;
}
.box {
  width: 265px;
  background-color: rgb(220, 220, 220);
  border-radius: 10px;
  padding: 10px;
  background-image: url(./todo\ back.jpeg);
  background-size: cover;
}
.addCard {
  width: 245px;
  background-image: url(./buttn\ back.jpeg);
  background-size: cover;
  border: 1px solid rgb(228, 192, 255);
  border-radius: 5px;
  margin-top: 15px;
}
.addTask {
  border: solid 1px rgb(228, 192, 255);
  height: 460px;
  width: 370px;
  border-radius: 10px;
  display: none;
  background-image: url(./addtaskbackground.jpeg);
  background-size: cover;
  position: fixed;
  top: 22%;
  left: 50%;
  right: 50%;
  padding: 20px;
  /* z-index: 999; */
}
#titleInput {
  width: 330px;
  height: 30px;
  border-radius: 5px;
  border: none;
}
#descriptionInput {
  width: 330px;
  height: 120px;
  border-radius: 5px;
  border: none;
}
.addTask h1 {
  margin-bottom: 10px;
}
.addTask p {
  margin-bottom: 5px;
  margin-top: 5px;
}
#status-select {
  width: 330px;
  border: none;
  border-radius: 5px;
  height: 30px;
}
#priority-select {
  width: 330px;
  border: none;
  border-radius: 5px;
  height: 30px;
}
#addTaskButton {
  margin-top: 15px;
  margin-left: 13px;
  height: 25px;
  width: 300px;
}
.taskTitleStyle {
  background-color: azure;
  margin-top: 10px;
  height: 30px;
  width: 99%;
  margin-top: 10px;
  border: 1px solid rgb(198, 176, 176);
  border-radius: 7px;
  padding: 5px;
  width: 160px;
}
.taskDescStyle {
  background-color: azure;
  height: 100px;
  width: 160px;
  margin-bottom: 10px;
  border-radius: 7px;
  padding: 5px;
  border: 1px solid rgb(198, 176, 176);
}
.card {
  display: flex;
  width: 245px;
  background-color: white;
  border-radius: 7px;
  margin-top: 10px;
}
.checkBtn {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border: 1px solid rgb(198, 176, 176);
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(0, 0, 0);
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
  cursor: pointer;
}

.deleteBtn {
  border-radius: 50%;
  border: 1px solid rgb(198, 176, 176);
  background-color: white;
  height: 25px;
  width: 25px;
  margin-top: 10px;
  margin-left: 12px;
  margin-right: 5px;
  cursor: pointer;
}
.editBtn {
  margin-top: 10px;
  margin-left: 7px;
  margin-right: 5px;
  border: 1px solid rgb(198, 176, 176);
  height: 25px;
  border-radius: 3px;
}
.priorityDiv{
  background-color: aqua;
}
